/* Импорт шрифта */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #EBEBEB;
}

/* Аватар */

.avatar {
    position: absolute;
    top: 30px;
    right: 50px;
}

/* //Аватар */

/* Меню */

.menu {
    background: #222222;

    width: 220px;
    height: 100vh;

    float: left;
}

.menu-logo {
    margin-top: 60px;
    margin-left: 35px;
}

.menu-container {
    width: 200px;
    margin-top: 79.69px;
    margin-left: auto;
    margin-right: auto;
}

.menu-row {
    display: flex;
    margin-bottom: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.menu-row:hover {
    background: linear-gradient(12.26deg, rgba(176, 0, 63, 0.2) -52.06%, rgba(197, 4, 72, 0.2) 93.44%);
    border-radius: 6px;
}

.menu-row-logo {
    width: 17px;
    height: 17px;
    display: flex;
    margin-left: 21px;

    align-items: center;
    justify-content: center;
}

.menu-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    color: #F50057;

    margin-left: 10px;
}

.menu-row:nth-child(5) {
    margin-bottom: 80px;
}

/* //Меню */
